.css-1hsnhpx {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.css-4qtnb6 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    background-color: #181A20;
    padding-top: 24px;
}
@media screen and (min-width:767px) {
    .css-4qtnb6 {
        padding-top: 48px;
    }
}
.css-4qtnb6 a,
.css-4qtnb6 a:active,
.css-4qtnb6 a:visited {
    -webkit-text-decoration: none;
    text-decoration: none;
}
.css-11jc6yd {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width:767px) {
    .css-11jc6yd {
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (min-width:1023px) {
    .css-11jc6yd {
        padding-left: 24px;
        padding-right: 24px;
    }
}
.css-1ocwe76 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
}
@media screen and (min-width:767px) {
    .css-1ocwe76 {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media screen and (min-width:1023px) {
    .css-1ocwe76 {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
    }
}
.css-vym6x9 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media screen and (min-width:767px) {
    .css-vym6x9 {
        -webkit-flex: 4;
        -ms-flex: 4;
        flex: 4;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}
.css-chjio1 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
}
@media screen and (min-width:767px) {
    .css-chjio1 {
        -webkit-flex: 3;
        -ms-flex: 3;
        flex: 3;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
.css-3prz9j {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #EAECEF;
    padding-right: 0;
}
@media screen and (min-width:767px) {
    .css-3prz9j {
        padding-right: 16px;
    }
}
.css-kbv4gt {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    pointer-events: auto;
    padding-top: 12px;
    padding-bottom: 12px;
}
@media screen and (min-width:767px) {
    .css-kbv4gt {
        pointer-events: none;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
.css-mpghe {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-weight: 500;
    font-size: 16px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
@media screen and (min-width:767px) {
    .css-mpghe {
        font-size: 20px;
    }
}
.css-1l0obfq {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: currentColor;
    width: 18px;
    height: 18px;
    font-size: 18px;
    fill: #EAECEF;
    fill: currentColor;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    display: block;
    width: 1em;
    height: 1em;
}
@media screen and (min-width:767px) {
    .css-1l0obfq {
        display: none;
    }
}
.css-1yk9mh2 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    overflow: hidden;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    max-height: 0;
}
@media screen and (min-width:767px) {
    .css-1yk9mh2 {
        max-height: 40em;
    }
}
.css-1lg668x {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    margin-bottom: 12px;
    color: #848E9C;
}
.css-1lg668x:hover {
    color: #EAECEF;
}
.css-1w33rus {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
}
@media screen and (min-width:767px) {
    .css-1w33rus {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: block;
    }
}
@media screen and (min-width:1023px) {
    .css-1w33rus {
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
.css-lhwwn5 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #EAECEF;
}
.css-1phk2w5 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
}
@media screen and (min-width:767px) {
    .css-1phk2w5 {
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 20px;
    }
}
.css-1icty3a {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 24px;
    margin-right: 32px;
    color: #848E9C;
}
.css-1icty3a:hover {
    color: #EAECEF;
}
.css-12s4vgv {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: currentColor;
    width: 22px;
    height: 22px;
    font-size: 22px;
    fill: #EAECEF;
    fill: currentColor;
}
.css-1ax9e66 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid;
    border-top-color: #272A2E;
    font-size: 14px;
    color: #848E9C;
    line-height: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: 16px;
    margin-right: 16px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media screen and (min-width:767px) {
    .css-1ax9e66 {
        padding-top: 32px;
        padding-bottom: 32px;
        margin-left: 24px;
        margin-right: 24px;
    }
}
@media screen and (min-width:1023px) {
    .css-1ax9e66 {
        margin-left: 0;
        margin-right: 0;
    }
}
@keyframes widget-show-grow {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.chat-container {
    position: fixed;
    right: 24px;
    bottom: 16px;
    cursor: pointer;
    opacity: 1;
    z-index: 998;
    border-radius: 32px;
    background: linear-gradient(rgb(248, 209, 47) 0%, rgb(240, 185, 11) 99.77%);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.chat-container.visible {
    display: flex;
    animation: 0.5s ease 0s 1 normal backwards running widget-show-grow;
}
.chat-container.visible:hover .chat-text {
    display: block;
    margin-left: 5px;
    font-weight: 500;
    font-size: 14px;
    color: #212833
}
.chat-container .chat-text {
    display: none
}
.css-1elgsrb {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: relative;
    z-index: 10;
    min-height: auto;
    background-color: rgb(255, 255, 255);
}
.css-85ge9a {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    background-color: rgb(255, 255, 255);
}
.css-x5plpw {
    box-sizing: border-box;
    margin: 0px auto;
    min-width: 0px;
    display: flex;
    align-items: flex-start;
    position: relative;
    top: -4px;
    justify-content: normal;
    flex-direction: column;
    height: 147px;
    width: 351px;
}
.css-g0lh1j {
    box-sizing: border-box;
    margin: 16px 0px;
    min-width: 0px;
    color: rgb(30, 35, 41);
    font-size: 18px;
    font-weight: 500;
    flex-shrink: 0;
}
.css-psjwr8 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.css-o4xrov {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: relative;
    width: 237px;
}
.css-847q2k {
    box-sizing: border-box;
    margin: 0px 0px 4px;
    min-width: 0px;
    color: rgb(71, 77, 87);
    font-size: 13px;
}
.css-103yrez {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: relative;
    width: 100%;
    color: rgb(112, 122, 138);
    font-family: DINNext-Medium, IBMPlexSans-Medium, "Microsoft YaHei", Arial, sans-serif;
}
.css-fhl5lc {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    height: 48px;
    -webkit-box-align: center;
    align-items: center;
}
.css-1p84264 {
    margin: 0px;
    min-width: 0px;
    height: 48px;
    line-height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(234, 236, 239);
    border-radius: 3px;
    outline: 0px;
    position: relative;
    font-family: DINNext-Medium, IBMPlexSans-Medium, "Microsoft YaHei", Arial, sans-serif;
}
.css-4no6sh {
    margin: 0px;
    min-width: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50px;
    line-height: 32px;
    font-size: 16px;
    width: 97px;
    text-align: left;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    font-weight: 500;
    font-family: DINNext-Medium, IBMPlexSans-Medium, "Microsoft YaHei", Arial, sans-serif;
    color: rgb(30, 35, 41);
    cursor: pointer;
}
.css-4no6sh::before {
    content: "";
    display: inline-block;
    width: 1px;
    background-color: rgb(234, 236, 239);
    height: 24px;
    position: absolute;
    top: 12px;
    left: 0px;
}
.css-gqzk78 {
    box-sizing: border-box;
    margin: 0px 4px 0px 0px;
    min-width: 0px;
    height: 24px;
    width: 24px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: 4px;
}
.css-whbbs9 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    max-width: 100%;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 2px;
    top: 2px;
}
.css-fn1hu9 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    vertical-align: top;
}
.css-1i5hrmd {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    max-width: 100%;
    width: 14px;
    height: 8px;
    position: absolute;
    right: 9px;
    top: 18px;
    transform: none;
}
.css-gywg4 {
    margin: 0px;
    min-width: 0px;
    overflow: hidden;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    border-radius: 4px;
    border: none;
    z-index: 99;
}
.css-1ryvsfq {
    padding: 13px 20px;
    border-bottom: 1px solid rgb(234, 236, 239);
    box-sizing: border-box;
    position: relative;
}
.css-1ryvsfq input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    font-family: DINNext-Medium, IBMPlexSans-Medium, "Microsoft YaHei", Arial, sans-serif;
}
.css-51lnqr {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    max-width: 100%;
    width: 14px;
    height: 8px;
    position: absolute;
    right: 9px;
    top: 18px;
    transform: rotate(180deg);
}
.css-13fzyzs {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    text-align: left;
    overflow-y: auto;
    max-height: 0px;
    transition: max-height 0.15s ease 0s;
}
.css-1hhzkhk {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 12px;
    display: none;
}
.css-1wfed70 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    height: 48px;
    width: 98px;
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-box-align: center;
    align-items: center;
}
.css-r5shet {
    margin: 0px;
    min-width: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50px;
    line-height: 32px;
    font-size: 16px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    font-weight: 500;
    font-family: DINNext-Medium, IBMPlexSans-Medium, "Microsoft YaHei", Arial, sans-serif;
    color: rgb(30, 35, 41);
    cursor: pointer;
    border: 1px solid rgb(234, 236, 239);
    border-radius: 3px;
}
.css-1thgfky {
    box-sizing: border-box;
    margin: 0px auto;
    min-width: 0px;
    padding-bottom: 40px;
    width: 351px;
}
.css-l88ldj {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: block;
    padding-top: 32px;
}
.css-56ovp4 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
}
.css-ahnfg8 {
    box-sizing: border-box;
    margin: 0px 0px 6px;
    min-width: 0px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    font-family: DINNext-Medium, IBMPlexSans-Medium, "Microsoft YaHei", Arial, sans-serif;
}
.css-1339qew {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding-bottom: 92px;
}
.css-10jw8iz {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-ozr2dg {
    box-sizing: border-box;
    margin: 16px 0px 0px 16px;
    min-width: 0px;
    display: flex;
    padding-right: 12px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-4cffwv {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
}
.css-10nf7hq {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.css-1sxqc6q {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    max-width: 100%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.css-1xl8amk {
    box-sizing: border-box;
    margin: 0px 0px 0px 8px;
    min-width: 0px;
    font-size: 14px;
    font-weight: 600;
}
.css-cliec {
    box-sizing: border-box;
    margin: 0px 0px 0px 8px;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.css-lelf55 {
    box-sizing: border-box;
    margin: 0px 4px 0px 0px;
    min-width: 0px;
    display: flex;
    max-height: 16px;
    background-color: rgb(245, 245, 245);
    padding: 3px 2px;
    border-radius: 1px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.css-1wj372t {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    max-width: 100%;
    height: auto;
    max-height: 10px;
}
.css-1txlisd {
    box-sizing: border-box;
    margin: 18px 0px 0px;
    min-width: 0px;
    width: 100%;
    height: 60px;
    border: 1px solid rgb(230, 232, 234);
    border-radius: 3px;
    position: relative;
    z-index: 0;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.css-1txlisd:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 4px;
}
.css-1txlisd.active {
    border: 1px solid rgb(240, 185, 11);
}
.css-1txlisd.active:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
}
.css-1txlisd.active::before {
    content: '';
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(240, 185, 11) rgb(240, 185, 11) transparent transparent;
    border-width: 13px;
    z-index: 10;
}
.css-1txlisd.active::after {
    content: '';
    margin: 0px;
    min-width: 0px;
    font-size: 10px;
    position: absolute;
    right: 4px;
    top: 3px;
    width: .3em;
    height: .7em;
    z-index: 20;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.tab-content {
    display: none;
}
.css-1dws38k {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    padding-left: 0px;
    padding-top: 24px;
}
.css-kural8 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    font-family: DINNext-Medium, IBMPlexSans-Medium, "Microsoft YaHei", Arial, sans-serif;
}
.css-171vaxc {
    box-sizing: border-box;
    margin: 24px 0px 0px;
    min-width: 0px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.08) 0px 0px 4px;
    border-radius: 3px;
    padding: 24px 32px;
}
.css-1j87run {
    box-sizing: border-box;
    margin: 0px 0px 16px;
    min-width: 0px;
    line-height: 1;
    color: rgb(30, 35, 41);
    font-weight: 500;
    font-size: 18px;
}
.css-1lo3d0r {
    box-sizing: border-box;
    margin: 0px 0px 20px;
    min-width: 0px;
    color: rgb(30, 35, 41);
    line-height: 18px;
    font-size: 14px;
}
.css-7sx276 {
    box-sizing: border-box;
    margin: 0px 0px 16px;
    min-width: 0px;
    border-radius: 4px;
    background-color: rgb(250, 250, 250);
    padding: 16px;
    color: rgb(132, 142, 156);
    font-size: 12px;
    line-height: 14px;
}
.css-1ujnk7o {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: relative;
    bottom: 24px;
    width: 100%;
}
.css-up7u6p {
    box-sizing: border-box;
    margin: 0px 0px 24px;
    min-width: 0px;
    display: flex;
}
.css-1us58tr {
    box-sizing: border-box;
    margin: 0px 0px 24px;
    min-width: 0px;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(71, 77, 87);
    font-size: 14px;
}
.css-135w7yn {
    box-sizing: border-box;
    margin: 0px 8px 0px 0px;
    min-width: 0px;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
}
.css-p19g2b {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.css-mykl4n {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: currentcolor;
    width: 24px;
    height: 24px;
    font-size: 24px;
    fill: currentcolor;
}
.css-135w7yn>svg {
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid rgb(183, 189, 198);
    border-radius: 2px;
    max-width: 100%;
    max-height: 100%;
    background-color: transparent;
    fill: transparent;
}
.css-kxpr0c {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    cursor: pointer;
    color: rgb(30, 35, 41);
}
.css-7y16gy {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.css-18eswv3 {
    margin: 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: 500;
    line-height: 20px;
    word-break: keep-all;
    border-radius: 4px;
    padding: 6px 12px;
    min-height: 24px;
    border: none;
    min-width: 52px;
    height: 40px;
    font-size: 16px;
    color: rgb(30, 35, 41);
    background: linear-gradient(rgb(248, 209, 47) 0%, rgb(240, 185, 11) 99.77%);
    width: 50%;
}
.css-18eswv3:disabled {
    cursor: not-allowed;
    background-image: none;
    background-color: rgb(234, 236, 239);
    color: rgb(112, 122, 138);
}
.css-1lo3d0r a {
    color: rgb(240, 185, 11);
    transition: opacity 0.5s ease 0s;
}
.css-1lo3d0r a:hover {
    opacity: 0.5;
}
@media screen and (min-width: 767px) {
    .css-1elgsrb {
        min-height: 800px;
    }
    .css-x5plpw {
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        flex-direction: row;
        height: 126px;
        width: 720px;
    }
    .css-g0lh1j {
        margin-top: 20px;
        margin-bottom: 0px;
        font-size: 24px;
        margin-right: 0px;
    }
    .css-psjwr8 {
        justify-content: normal;
        width: auto;
    }
    .css-o4xrov {
        width: 340px;
    }
    .css-4no6sh {
        width: 129px;
    }
    .css-1i5hrmd {
        right: 16px;
    }
    .css-1hhzkhk {
        display: inline-block;
        margin-left: 18px;
        margin-right: 18px;
    }
    .css-1wfed70 {
        width: 169px;
    }
    .css-r5shet {
        padding-left: 16px;
    }
    .css-1thgfky {
        padding-bottom: 80px;
        width: 720px;
    }
    .css-l88ldj {
        display: block;
    }
    .css-56ovp4 {
        width: 100%;
    }
    .css-1txlisd {
        width: calc(50% - 8px);
    }
    .css-1ujnk7o {
        position: relative;
        bottom: 0px;
    }
    .css-1dws38k {
        width: 100%;
        padding-left: 0px;
        padding-top: 24px;
    }
}
@media screen and (min-width: 1023px) {
    .css-x5plpw {
        -webkit-box-align: center;
        align-items: center;
        justify-content: normal;
        flex-direction: row;
        height: 126px;
        width: 1200px;
    }
    .css-g0lh1j {
        margin-top: 20px;
        margin-bottom: 0px;
        font-size: 28px;
        margin-right: 80px;
    }
    .css-psjwr8 {
        justify-content: normal;
        width: auto;
    }
    .css-o4xrov {
        width: 410px;
    }
    .css-1hhzkhk {
        display: inline-block;
        margin-left: 32px;
        margin-right: 32px;
    }
    .css-1wfed70 {
        width: 169px;
    }
    .css-1thgfky {
        padding-bottom: 80px;
        width: 1200px;
    }
    .css-l88ldj {
        display: flex;
    }
    .css-56ovp4 {
        width: 50%;
    }
    .css-1txlisd {
        width: calc(50% - 8px);
    }
    .css-1ujnk7o {
        position: static;
    }
    .css-1dws38k {
        width: 50%;
        padding-left: 40px;
        padding-top: 0px;
    }
}
