.css-1v93d4p {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    width: 100%;
}
.css-1s52m11 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex: 1 1 0%;
    color: rgb(30, 35, 41);
    flex-direction: column;
    background-color: rgb(250, 250, 250);
}
.css-uliqdc {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex-direction: column;
}
.css-ybpi4s {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 4px;
    background-color: rgb(255, 255, 255);
    padding: 16px;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-9s07cq {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-afpwnx {
    box-sizing: border-box;
    margin: 0px 16px 0px 0px;
    min-width: 0px;
    font-size: 32px;
    color: rgb(30, 35, 41);
    display: none;
}
.css-10nf7hq {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.css-1syp2km {
    box-sizing: border-box;
    margin: 0px;
    height: 32px;
    line-height: 30px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid rgb(234, 236, 239);
    min-width: 120px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    font-weight: 700;
    color: rgb(112, 122, 138);
    text-align: center;
}
.css-1syp2km.selected {
    border-color: rgb(240, 185, 11);
    background-color: rgb(240, 185, 11);
    color: rgb(30, 35, 41);
}
.css-felokm {
    box-sizing: border-box;
    margin: 0px;
    height: 32px;
    line-height: 30px;
    border-radius: 0px 4px 4px 0px;
    border: 1px solid rgb(234, 236, 239);
    min-width: 120px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    font-weight: 700;
    color: rgb(112, 122, 138);
    text-align: center;
}
.css-sv09bf {
    margin: 0px 0px 0px 8px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
    color: rgb(201, 148, 0);
    border-radius: 4px;
    padding: 5px 11px;
    min-height: 24px;
    border: 1px solid rgb(234, 236, 239);
    background-color: transparent;
    box-shadow: none;
    min-width: 52px;
}
.css-sv09bf:disabled {
    cursor: not-allowed;
    background-image: none;
    background-color: rgb(234, 236, 239);
    color: rgb(183, 189, 198);
}
.css-kfjwco {
    box-sizing: border-box;
    margin: 0px 0px 0px 8px;
    min-width: 0px;
    position: relative;
    outline: none;
    display: block;
    color: rgb(112, 122, 138);
}
.css-gv1gi9 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: none;
    pointer-events: none;
    visibility: hidden;
    z-index: 1100;
}
.css-d5dcw4 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    box-shadow: rgba(20, 21, 26, 0.04) 0px 1px 2px, rgba(71, 77, 87, 0.04) 0px 3px 6px, rgba(20, 21, 26, 0.1) 0px 0px 1px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    border-radius: 1px;
}
.css-1r2jm08 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(33, 40, 51);
}
.css-d5dcw4>div {
    padding: 8px 16px;
    font-size: 14px;
    line-height: 20px;
}
.css-1koqxnd {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    text-decoration: none;
    color: rgb(33, 40, 51);
}
.css-1k0kvxy {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    height: 16px;
    width: 100%;
    display: none;
}
.css-4gt1ux {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: none;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-fu21lm {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex: 1 1 0%;
    display: inline-flex;
}
.css-1merft7 {
    margin: 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
    color: rgb(33, 40, 51);
    border-radius: 4px;
    padding: 6px 12px;
    min-height: 24px;
    border: none;
    background-image: linear-gradient(rgb(248, 209, 47) 0%, rgb(240, 185, 11) 100%);
    min-width: 52px;
}
.css-4gt1ux button {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
}
.css-1tz9k8l:hover:not(:disabled):not(:active) {
    background-color: rgba(0, 0, 0, 0.02);
}
.css-kdopbp {
    box-sizing: border-box;
    margin: 0px 24px;
    min-width: 0px;
    flex: 1 1 0%;
    display: inline-flex;
}
.css-1tz9k8l {
    margin: 0px;
    min-width: 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
    color: rgb(33, 40, 51);
    border-radius: 4px;
    padding: 4px 8px;
    min-height: 24px;
    border: none;
    background-color: transparent;
    box-shadow: rgb(234, 236, 239) 0px 0px 0px 1px inset;
}
.css-1s8q8od {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    -webkit-box-align: center;
    align-items: center;
    display: none;
}
.css-1b9avte {
    box-sizing: border-box;
    margin: 0px 16px;
    min-width: 0px;
    width: 1px;
    height: 18px;
    background-color: rgb(234, 236, 239);
}
.css-16zvjzc {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    text-decoration: underline;
    color: rgb(201, 148, 0);
    font-size: 14px;
}
.css-1rb1obh {
    box-sizing: border-box;
    margin: 0px 0px 0px 16px;
    min-width: 0px;
    position: relative;
    outline: none;
    display: inherit;
}
.css-7w8ifa {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    font-size: 14px;
    cursor: pointer;
    color: rgb(201, 148, 0);
}
.css-17k3d0n {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: currentcolor;
    font-size: 14px;
    fill: currentcolor;
    width: 1em;
    height: 1em;
}
.css-1vum88z {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px inset;
    height: 0px;
}
.css-g30x09 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    border-radius: 0px;
    box-shadow: none;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    flex-direction: column;
}
.css-ky8ph6 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 16px;
}
.css-q2wk8b {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex-wrap: wrap;
}
.css-n7uu3c {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.css-nycwfb {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(112, 122, 138);
}
.css-gvb71d {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    color: rgb(112, 122, 138);
    -webkit-box-align: center;
    align-items: center;
}
.css-1nkpn6w {
    box-sizing: border-box;
    margin: 0px 0px 0px 8px;
    min-width: 0px;
    font-size: 12px;
    line-height: 22px;
    border: 1px solid rgb(234, 236, 239);
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    display: none;
    -webkit-box-align: center;
    align-items: center;
}
.css-ifou49 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: currentcolor;
    font-size: 20px;
    fill: currentcolor;
    width: 1em;
    height: 1em;
}
.css-vw4i2j {
    box-sizing: border-box;
    margin: 0px 0px 0px 8px;
    min-width: 0px;
    display: flex;
}
.css-ko6w12 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    font-size: 24px;
    line-height: 42px;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.css-ycf5jl {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    line-height: 32px;
}
.css-rti3q2 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    align-self: flex-end;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
}
.css-3gvpur {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    align-self: flex-end;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    flex: 0 0 auto;
    width: 100%;
}
.css-1ap5wc6 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(112, 122, 138);
}
.css-1352way {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 16px;
}
.css-1f9551p {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: inline-block;
    position: relative;
}
.css-aj2yhv {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    cursor: help;
    text-decoration: dashed;
    border-width: 0px 0px 1px;
    border-style: dashed;
    border-color: inherit;
    color: inherit;
    font-size: inherit;
}
.css-ygdrxr {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
}
.css-15tpicw {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    max-width: 100%;
    flex: 0 0 auto;
    height: 32px;
}
.css-1bshycy {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(3, 166, 109);
}
.css-1h1void {
    box-sizing: border-box;
    margin: 0px 0px 0px 8px;
    min-width: 0px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
.css-1x3gaai {
    box-sizing: border-box;
    margin: 0px 4px 0px 0px;
    min-width: 0px;
    line-height: 32px;
    font-size: 24px;
}
.css-w3u2ek {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    font-size: 14px;
}
.css-o20ps3 {
    box-sizing: border-box;
    margin: 16px 0px 0px;
    min-width: 0px;
    display: flex;
    flex-wrap: wrap;
}
.css-1xbpfw1 {
    box-sizing: border-box;
    margin: 16px 0px 0px;
    min-width: 0px;
    display: flex;
    width: 100%;
}
.css-mk9qim {
    box-sizing: border-box;
    margin: 4px 0px 0px;
    min-width: 0px;
    display: flex;
    font-size: 18px;
    line-height: 26px;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
}
.css-17zo4ly {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    line-height: 26px;
}
.css-jvy6lz {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    align-self: flex-end;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
}
.css-1c4tfgk {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    align-self: flex-end;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    flex: 0 0 auto;
    width: 100%;
}
.css-mgs3gs {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    font-size: 14px;
    line-height: 20px;
    color: rgb(112, 122, 138);
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.css-lz2r2o {
    box-sizing: border-box;
    margin: 0px 0px 0px 8px;
    min-width: 0px;
    position: relative;
    outline: none;
    text-align: left;
    border-radius: 4px;
    border: 1px solid rgb(234, 236, 239);
    cursor: pointer;
    background-color: transparent;
    color: rgb(112, 122, 138);
    height: 24px;
    min-height: 24px;
    padding: 0px 24px 0px 8px;
}
.css-17rfy1m {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 24px;
    color: rgb(132, 142, 156);
    position: absolute;
    right: 10px;
    top: 50%;
    fill: currentcolor;
    transform: rotate(0deg) translateY(-50%);
    width: 1em;
    height: 1em;
}
.css-lz2r2o svg {
    right: 0px;
}
.css-1bzb8nq {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: none;
}
.css-tfbiy9 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.css-1fis29c {
    box-sizing: border-box;
    margin: 0px;
    height: 0px;
    display: none;
    max-height: 220px;
    left: 0px;
    position: absolute;
    overflow-y: scroll;
    z-index: 1100;
    padding: 0px;
    transition: height 0.2s ease 0s;
    box-shadow: rgba(20, 21, 26, 0.08) 0px 3px 6px, rgba(71, 77, 87, 0.08) 0px 7px 14px, rgba(20, 21, 26, 0.1) 0px 0px 1px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    width: auto !important;
    min-width: 100% !important;
}
.css-g38hjb {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    cursor: pointer;
    display: flex;
    padding: 8px 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgb(245, 245, 245);
}
.css-j6mfht {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    cursor: pointer;
    display: flex;
    padding: 8px 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.css-9ifq1s {
    box-sizing: border-box;
    margin: 0px 0px 0px 4px;
    min-width: 0px;
    font-size: 12px;
    color: rgb(183, 189, 198);
}
.css-9042o8 {
    box-sizing: border-box;
    margin: 4px 0px 0px;
    min-width: 0px;
    display: flex;
    font-size: 18px;
    line-height: 26px;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.css-1vxpi9 {
    box-sizing: border-box;
    margin: 0px 16px 0px 0px;
    min-width: 0px;
    display: flex;
    color: rgb(30, 35, 41);
    width: 100%;
}
.css-1ccjnwp {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    align-self: flex-end;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
}
.css-6k56sj {
    box-sizing: border-box;
    margin: 0px 16px 0px 0px;
    min-width: 0px;
    display: flex;
    color: rgb(30, 35, 41);
}
.css-gvppb2 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 14px;
    color: rgb(201, 148, 0);
    text-decoration: underline;
}
.css-mokwgd {
    box-sizing: border-box;
    margin: 16px 0px 0px;
    min-width: 0px;
    display: flex;
    color: rgb(112, 122, 138);
    font-size: 14px;
    border-top: 1px solid rgb(230, 232, 234);
    height: 32px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.css-xkmkti {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: currentcolor;
    font-size: 18px;
    fill: currentcolor;
    width: 1em;
    height: 1em;
}
.css-13d7ivd {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    background-color: rgb(250, 250, 250);
    padding: 8px 0px;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-x8706c {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 8px 16px;
}
.css-13h0iyx {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(201, 148, 0);
    flex: 1 1 0%;
    display: inline-flex;
    text-decoration: none !important;
}
.css-et2m9r {
    box-sizing: border-box;
    margin: 0px 24px;
    min-width: 0px;
    color: rgb(201, 148, 0);
    flex: 1 1 0%;
    display: inline-flex;
    text-decoration: none !important;
}
.css-13d7ivd button {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
}
.css-15owl46 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: relative;
}
.css-10sapj3 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding: 0px;
    width: auto;
}
.css-1r2n43v {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    overflow: auto;
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: rgb(234, 236, 239);
}
.css-84uuw {
    box-sizing: border-box;
    margin: 0px 16px 0px 0px;
    cursor: pointer;
    min-width: auto;
    line-height: 24px;
    font-size: 14px;
    color: rgb(132, 142, 156);
}
.css-84uuw>div {
    padding-left: 0px;
    padding-right: 0px;
    color: rgb(112, 122, 138);
}
.css-84uuw>div.active {
    color: rgb(30, 35, 41);
    font-weight: 500;
}
.css-d3ui9e {
    margin: 0px;
    min-width: 0px;
    padding: 10px 90px;
    height: 100%;
    box-sizing: border-box;
    user-select: none;
}
.css-d3ui9e.active {
    border-bottom: 3px solid rgb(240, 185, 11);
    border-top-color: rgb(240, 185, 11);
    border-right-color: rgb(240, 185, 11);
    border-left-color: rgb(240, 185, 11);
    color: rgb(240, 185, 11);
}
.css-gnqbje {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: block;
}
.css-rcfhz3 {
    box-sizing: border-box;
    margin: 12px 0px;
    min-width: 0px;
    display: none;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
}
.css-1j77zur {
    box-sizing: border-box;
    min-width: 0px;
    display: inline-flex;
    position: relative;
    height: 32px;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.6;
    border: 1px solid rgb(234, 236, 239);
    border-radius: 4px;
    margin: 0px 10px 0px 0px;
}
.css-1j77zur input {
    color: rgb(30, 35, 41);
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
}
.css-16fg16t {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    outline: none;
    border: none;
    background-color: inherit;
    opacity: 1;
}
.css-1fsl2n5 {
    box-sizing: border-box;
    margin: 0px 10px 0px 0px;
    min-width: 0px;
    position: relative;
    outline: none;
    padding: 6px 32px 6px 12px;
    text-align: left;
    border-radius: 4px;
    min-height: 32px;
    border: 1px solid rgb(234, 236, 239);
    cursor: pointer;
    background-color: transparent;
    color: rgb(30, 35, 41);
    font-size: 14px;
    width: 184px;
}
.css-1fsl2n5>div {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.css-159c1e3 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    cursor: help;
    font-size: 14px;
    text-decoration: dashed;
    border-width: 0px 0px 1px;
    border-color: rgb(30, 35, 41);
    border-style: dashed;
    white-space: nowrap;
    color: inherit;
}
.css-s11e0b {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex: 0 0 auto;
    line-height: 32px;
    flex-wrap: wrap;
    width: 100%;
}
.css-1l176m8 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex: 0 0 auto;
}
.css-pjb42v {
    box-sizing: border-box;
    margin: 8px 0px;
    min-width: 0px;
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-box-align: center;
    align-items: center;
}
.css-1qvkupg {
    box-sizing: border-box;
    min-width: 0px;
    display: inline-flex;
    position: relative;
    height: 32px;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.6;
    border: 1px solid rgb(234, 236, 239);
    border-radius: 4px;
    margin: 0px 8px 0px 0px;
    flex: 1 1 0%;
}
.css-f1b9tf {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(112, 122, 138);
    font-size: 24px;
    fill: rgb(112, 122, 138);
    width: 1em;
    height: 1em;
}
.css-1vqhbie {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
}
.css-140fkd0 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 14px;
}
.css-140fkd0[data-border="true"] {
    border-color: rgb(245, 245, 245);
    border-radius: 2px;
}
.css-140fkd0>[data-type="table-th"] {
    font-size: 12px;
    background-color: rgb(245, 245, 245);
    color: rgb(112, 122, 138);
}
.css-1qyk0y6 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    background-color: inherit;
}
.css-12vhwpl {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    align-items: flex-start;
    line-height: 20px;
    background-color: inherit;
    padding: 12px 16px;
}
.css-1vqhbie div[data-type="table-min-row"] {
    padding: 10px 6px;
}
.css-io1ra2 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: 400;
}
.css-1r5j6bd {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
}
.css-wqfdef {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(132, 142, 156);
    font-size: 20px;
    fill: rgb(132, 142, 156);
    width: 1em;
    height: 1em;
    flex: 0 0 auto;
}
.css-36i00f {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    align-items: flex-start;
    line-height: 20px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    background-color: inherit;
    padding: 12px 16px;
}
.css-140fkd0>[data-type="table-td"] {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(245, 245, 245);
    color: rgb(71, 77, 87);
}
.css-140fkd0>[data-type="table-td"]:hover {
    background-color: rgba(249, 249, 250, 0.7);
}
.css-18xb0pn {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex: 0 0 auto;
}
.css-o66ieu {
    box-sizing: border-box;
    margin: 0px 16px 0px 0px;
    min-width: 0px;
    cursor: pointer;
    color: rgb(201, 148, 0);
}
.css-ybbx55 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: relative;
    display: inline-block;
    outline: none;
}
.css-1bgd29k {
    box-sizing: border-box;
    margin: 16px 0px 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}
.css-11xno5y {
    box-sizing: border-box;
    margin: 0px 4px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    border: none;
    outline: none;
    height: 28px;
    padding: 0px;
    background-color: transparent;
    border-radius: 4px;
    font-weight: 400;
    min-width: 16px;
    color: rgb(234, 236, 239);
}
.css-11xno5y:disabled {
    cursor: default;
}
.css-ew2l8i {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: currentcolor;
    font-size: 16px;
    fill: currentcolor;
    width: 1em;
    height: 1em;
}
.css-5jht7o {
    box-sizing: border-box;
    margin: 0px 4px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    border: none;
    outline: none;
    min-width: 28px;
    height: 28px;
    padding: 0px;
    background-color: rgb(234, 236, 239);
    border-radius: 4px;
    color: rgb(30, 35, 41);
    font-weight: 500;
}
.css-5jht7o:disabled {
    cursor: default;
}
.css-hlqxzb {
    box-sizing: border-box;
    margin: 0px 4px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    border: none;
    outline: none;
    min-width: 28px;
    height: 28px;
    padding: 0px;
    background-color: transparent;
    border-radius: 4px;
    color: rgb(71, 77, 87);
    font-weight: 400;
}
.css-1w7smpm {
    box-sizing: border-box;
    margin: 0px 4px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    border: none;
    outline: none;
    height: 28px;
    padding: 0px;
    background-color: transparent;
    border-radius: 4px;
    font-weight: 400;
    min-width: 16px;
    color: rgb(71, 77, 87);
}
.css-ew2l8i {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: currentcolor;
    font-size: 16px;
    fill: currentcolor;
    width: 1em;
    height: 1em;
}
.css-1ggfjpy {
    box-sizing: border-box;
    min-width: 0px;
    display: none;
    margin: 0px;
    color: rgb(112, 122, 138);
    font-size: 14px;
}
.css-hsvlhr {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    text-decoration: underline;
    color: rgb(201, 148, 0);
}
.css-1u2nk9f {
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 0px;
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1200;
}
.css-81pxnt {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: unset;
}
.css-1op9n3d {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    border-radius: 0px;
    box-shadow: rgba(20, 21, 26, 0.16) 0px 8px 16px, rgba(71, 77, 87, 0.16) 0px 16px 32px, rgba(20, 21, 26, 0.1) 0px 0px 1px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    color: rgb(30, 35, 41);
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.css-1e1f1e0 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: unset;
    padding-top: 20px;
    padding-right: 24px;
    color: rgb(183, 189, 198);
    cursor: pointer;
}
.css-gm8bo2 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding: 0px 24px 24px;
    font-size: 14px;
    line-height: 20px;
    max-height: 100vh;
    overflow-y: auto;
}
.css-yc6oq3 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
}
.css-1gcbdz8 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    overflow: visible;
}
.css-1h945t3 {
    box-sizing: border-box;
    margin: 0px;
    cursor: pointer;
    min-width: auto;
}
.css-1qxmow3 {
    box-sizing: border-box;
    margin: 0px 32px 0px 0px;
    min-width: 0px;
    position: relative;
    padding: 8px 0px 24px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(30, 35, 41);
}
.active .css-1qxmow3::after {
    content: '';
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    height: 2px;
    background-color: rgb(240, 185, 11);
    position: absolute;
    bottom: -1px;
    left: 0;
}
.css-1h945t3>div {
    line-height: 24px;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.css-usyb2r {
    box-sizing: border-box;
    margin: 24px 0px 0px;
    min-width: 0px;
    display: flex;
    line-height: 20px;
    color: rgb(112, 122, 138);
    font-size: 14px;
}
.css-usyb2r .btn {
    font-weight: 500;
    margin-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    flex: 1 1 0%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 6px;
    color: rgb(112, 122, 138);
    cursor: pointer;
}
.css-usyb2r .btn.on {
    color: rgb(30, 35, 41);
    background-color: rgb(43, 49, 57);
}
.css-usyb2r.light .btn.on {
    background-color: rgb(245, 245, 245);
}
.css-4p927u {
    box-sizing: border-box;
    margin: 0px 6px 0px 0px;
    min-width: 0px;
    color: currentcolor;
    font-size: 14px;
    fill: currentcolor;
    width: 1em;
    height: 1em;
}
.css-usyb2r .btn:last-of-type {
    margin-right: 0px;
}
.css-1pxm4lx {
    box-sizing: border-box;
    margin: 24px 0px 0px;
    min-width: 0px;
}
.css-smdo8z {
    box-sizing: border-box;
    margin: 0px 0px 4px;
    min-width: 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-1rljtje {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    line-height: 20px;
    font-size: 14px;
    color: rgb(112, 122, 138);
}
.css-1smvnh0 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: relative;
    outline: none;
}
.css-1mxpxp {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: inline-flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.6;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    height: 48px;
    width: 100%;
    cursor: pointer;
}
.css-1jpgac0 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    outline: none;
    border: none;
    opacity: 1;
    visibility: hidden;
    cursor: pointer;
    background-color: transparent;
}
.css-1mxpxp input {
    color: rgb(30, 35, 41);
    font-size: 14px;
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
}
.css-1mxpxp .bn-input-suffix {
    flex-shrink: 0;
    margin-left: 4px;
    font-size: 14px;
    height: 100%;
    margin-right: 8px;
}
.css-13c2b5p {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
}
.css-1nlwvj5 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 16px;
    fill: currentcolor;
    transform: rotate(0deg);
    color: rgb(112, 122, 138);
    width: 1em;
    height: 1em;
}
.css-wfoape {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    height: 48px;
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    left: 0px;
    bottom: 0px;
    right: 0px;
    pointer-events: none;
    word-break: keep-all;
    font-size: 14px;
    line-height: 1;
    color: rgb(30, 35, 41);
}
.css-1smvnh0 .bn-sdd-value {
    min-height: 32px;
    padding: 12px 24px 12px 12px;
}
.css-e7fzbv {
    box-sizing: border-box;
    margin: 0px 8px 0px 0px;
    min-width: 0px;
    max-width: 100%;
    height: 24px;
    width: 24px;
}
.css-7z9s2n {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    line-height: 24px;
    font-size: 14px;
}
.css-xahpyw {
    box-sizing: border-box;
    margin: 0px 4px 0px 0px;
    min-width: 0px;
    color: rgb(30, 35, 41);
    font-size: 16px;
    font-weight: 500;
}
.css-1tsr9u1 {
    box-sizing: border-box;
    margin: 0px;
    outline: none;
    height: auto;
    display: none;
    width: auto !important;
    min-width: 100% !important;
}
.css-1smvnh0 .bn-sdd-dropdown {
    position: absolute;
    z-index: 1100;
    transition: height 0.2s ease 0s;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(20, 21, 26, 0.08) 0px 3px 6px, rgba(71, 77, 87, 0.08) 0px 7px 14px, rgba(20, 21, 26, 0.1) 0px 0px 1px;
    border-radius: 4px;
}
.css-16vu25q {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
}
.css-1ra7cyk {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: inline-flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.6;
    background-color: rgb(245, 245, 245);
    height: 48px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    width: 100%;
}
.css-1ra7cyk.bn-input-md {
    height: 40px;
}
.css-1ra7cyk .bn-input-prefix {
    flex-shrink: 0;
    margin-right: 4px;
    font-size: 14px;
    display: flex;
}
.css-1d886ym {
    box-sizing: border-box;
    margin: 0px -8px 0px 8px;
    min-width: 0px;
    color: rgb(183, 189, 198);
    font-size: 24px;
    fill: rgb(183, 189, 198);
    width: 1em;
    height: 1em;
}
.css-1smvnh0 .bn-sdd-icon {
    cursor: pointer;
    vertical-align: middle;
}
.css-jl5e70 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    outline: none;
    border: none;
    opacity: 1;
    background-color: transparent;
}
.css-1ra7cyk input {
    color: rgb(30, 35, 41);
    font-size: 14px;
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
}
.css-127oza0 {
    box-sizing: border-box;
    margin: 0px 8px 0px 0px;
    min-width: 0px;
    font-size: 16px;
    fill: currentcolor;
    color: rgb(183, 189, 198);
    width: 1em;
    height: 1em;
}
.css-2rl2kr {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    max-height: 228px;
}
.css-1smvnh0 .bn-sdd-list {
    padding: 4px 0px;
    overflow-y: scroll;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.css-1w2yls6 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(30, 35, 41);
    opacity: 1;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1;
}
.css-1w2yls6:hover {
    background-color: rgb(245, 245, 245);
}
.css-1smvnh0 .bn-sdd-option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-align: center;
    align-items: center;
    max-height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 20px;
}
.css-1pysja1 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex: 1 1 0%;
}
.css-1kzlx9g {
    box-sizing: border-box;
    margin: 34px 0px;
    min-width: 0px;
    line-height: 20px;
    font-size: 14px;
}
.css-11r369n {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    color: rgb(112, 122, 138);
    -webkit-box-align: center;
    align-items: center;
    flex: 0 0 auto;
}
.css-1f7h13p {
    box-sizing: border-box;
    margin: 0px 3px 0px 0px;
    min-width: 0px;
}
.css-11r369n>div {
    display: flex;
}
.css-1f9551p {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: inline-block;
    position: relative;
}
.css-1yof1af {
    margin: 0px;
    min-width: 0px;
    box-sizing: content-box;
    position: absolute;
    width: max-content;
    word-break: normal;
    z-index: 1400;
    max-width: 296px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(94, 102, 115);
    border-radius: 4px;
    padding: 8px 12px;
    filter: drop-shadow(rgba(20, 21, 26, 0.08) 0px 3px 6px) drop-shadow(rgba(71, 77, 87, 0.08) 0px 7px 14px) drop-shadow(rgba(20, 21, 26, 0.1) 0px 0px 1px);
}
.css-1yof1af>.gap-fill {
    position: absolute;
    display: block;
}
.css-1yof1af[data-popper-placement^="top"]>.gap-fill {
    bottom: -8px;
    left: 0px;
    width: 100%;
    height: 8px;
}
.css-1u9esp9 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
}
.css-1u9esp9,
.css-1u9esp9::before {
    position: absolute;
    width: 6px;
    height: 6px;
    z-index: -1;
}
.css-1hep91p {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    float: right;
}
.css-fgm2u7 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(112, 122, 138);
}
.css-fgm2u7 .primary {
    color: rgb(240, 185, 11);
}
.css-18dsu47 {
    box-sizing: border-box;
    margin: 32px 0px 64px;
    min-width: 0px;
    display: inline-flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.6;
    background-color: rgb(245, 245, 245);
    height: 48px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    width: 100%;
}
.css-18dsu47 .bn-input-suffix {
    flex-shrink: 0;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 14px;
}
.css-1kzlx9g>div {
    margin-top: 12px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-18dsu47 input {
    color: rgb(30, 35, 41);
    font-size: 14px;
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
}
.css-179rhxu {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: absolute;
    left: 0px;
    top: 64px;
    cursor: pointer;
    color: rgb(112, 122, 138);
}
.css-1r9ymcc {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: inline;
    color: rgb(240, 185, 11);
}
.css-k4png4 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: absolute;
    top: -32px;
    left: 0px;
    line-height: 32px;
    z-index: 1;
    cursor: text;
    color: rgb(71, 77, 87);
    font-size: 14px;
}
.css-jwn22u {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: absolute;
    top: -32px;
    right: 0px;
    line-height: 32px;
    z-index: 1;
    cursor: text;
    color: rgb(71, 77, 87);
    font-size: 14px;
}
.css-1k8oplz {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    line-height: 32px;
    font-size: 14px;
}
.css-1wbdhqi {
    box-sizing: border-box;
    margin: 0px 4px 0px 0px;
    min-width: 0px;
    color: rgb(30, 35, 41);
    font-weight: 500;
}
.css-3j2kqe {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-6i6sfw {
    box-sizing: border-box;
    margin: 0px 8px 0px 0px;
    min-width: 0px;
    cursor: pointer;
    flex: 1 1 0%;
}
.css-5g5521 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    height: 10px;
    background-color: rgb(234, 236, 239);
}
.css-2sels5 {
    box-sizing: border-box;
    margin: 2px 0px 0px;
    min-width: 0px;
    color: rgb(112, 122, 138);
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
.css-siljvp {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: fixed;
    z-index: 1;
    left: 0px;
    bottom: 0px;
    padding: 24px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.08) 0px 0px 4px;
    background-color: rgb(255, 255, 255);
}
.css-7y16gy {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.css-uvtkf7 {
    margin: 0px 8px 0px 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
    color: rgb(30, 35, 41);
    border-radius: 4px;
    padding: 10px 16px;
    min-height: 24px;
    border: none;
    background-color: rgb(234, 236, 239);
    min-width: 60px;
}
.css-xltfdu {
    margin: 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
    color: rgb(33, 40, 51);
    border-radius: 4px;
    padding: 10px 16px;
    min-height: 24px;
    border: none;
    background-image: linear-gradient(rgb(248, 209, 47) 0%, rgb(240, 185, 11) 100%);
    min-width: 60px;
}
.css-51ezhr {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(71, 77, 87);
    font-size: 14px;
}
.css-135w7yn {
    box-sizing: border-box;
    margin: 0px 8px 0px 0px;
    min-width: 0px;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
}
.css-p19g2b {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.css-mykl4n {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: currentcolor;
    width: 24px;
    height: 24px;
    font-size: 24px;
    fill: currentcolor;
}
.css-10czhza {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
}
.css-135w7yn>svg {
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid rgb(183, 189, 198);
    border-radius: 2px;
    max-width: 100%;
    max-height: 100%;
    background-color: transparent;
    fill: transparent;
}
.css-8d1b4f {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    color: rgb(207, 48, 74);
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
}
.css-nuzmwa {
    box-sizing: border-box;
    margin: 0px 8px 0px 0px;
    min-width: 0px;
    color: currentcolor;
    font-size: 20px;
    fill: currentcolor;
    width: 1em;
    height: 1em;
}
.css-1cxssyd {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
}
.css-1fwh5ni {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    border-radius: 0px;
    box-shadow: rgba(20, 21, 26, 0.16) 0px 8px 16px, rgba(71, 77, 87, 0.16) 0px 16px 32px, rgba(20, 21, 26, 0.1) 0px 0px 1px;
    background-color: rgb(255, 255, 255);
    color: rgb(30, 35, 41);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.css-14wbsbi {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding: 20px 48px 19px 24px;
    border: none;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.css-g4fmj2 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    height: 100%;
    padding: 0px 0px 176px;
    scroll-behavior: smooth;
    overflow-y: auto;
}
.css-pmqufv {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding-top: 24px;
}
.css-oxzfpw {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding-left: 24px;
    padding-right: 24px;
}
.css-7tkdw6 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    padding: 24px;
    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: rgb(234, 236, 239);
}
.css-1kzpntp {
    box-sizing: border-box;
    margin: 20px 8px 0px 0px;
    min-width: 0px;
    display: flex;
}
.css-vwdmr0 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    width: 32px;
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.css-13zymhf {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(14, 203, 129);
}
.css-11mpmlu {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex: 1 1 0%;
    width: 0px;
    border-width: 0px 1px 0px 0px;
    border-style: dashed;
    border-color: rgb(234, 236, 239);
}
.css-1a1w98z {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(246, 70, 93);
}
.css-13yxw5u {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: rgb(245, 245, 245);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.css-124czaz {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(112, 122, 138);
    font-size: 16px;
    fill: rgb(112, 122, 138);
    width: 1em;
    height: 1em;
}
.css-bz1qgm {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.css-1efkrz1 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex: 0 0 auto;
    width: 100%;
}
.css-caza27 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: relative;
    outline: none;
}
.css-1gp4c69 {
    box-sizing: border-box;
    margin: 0px 8px 0px 0px;
    min-width: 0px;
    max-width: 100%;
    border-radius: 99999px;
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(234, 236, 239);
}
.css-cr60ng {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.css-19gx5t6 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 14px;
    color: rgb(112, 122, 138);
    line-height: 20px;
}
.css-6hm6tl {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(30, 35, 41);
}
.css-p1qrqm {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding-left: 4px;
    padding-right: 4px;
}
.css-17mzxiv {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: inline-flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.6;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    font-size: 14px;
    width: 100%;
    height: 48px;
}
.css-17mzxiv input {
    color: rgb(30, 35, 41);
    font-size: 14px;
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
}
.css-agsc13 {
    margin: 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
    color: rgb(33, 40, 51);
    border-radius: 6px;
    padding: 10px 16px;
    min-height: 24px;
    border: none;
    background-image: none;
    background-color: rgb(252, 213, 53);
    min-width: 60px;
    width: 100%;
    max-width: 100%;
    height: 40px;
}
.css-agsc13:disabled {
    cursor: not-allowed;
    background-image: none;
    background-color: rgb(234, 236, 239);
    color: rgb(183, 189, 198);
}
.css-agsc13:disabled:not(.inactive) {
    background-color: rgb(252, 213, 53);
    opacity: 0.3;
    color: rgb(24, 26, 32);
    cursor: not-allowed;
}
.css-17mzxiv .bn-input-suffix {
    flex-shrink: 0;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 14px;
}
.css-1ii0qmr {
    box-sizing: border-box;
    margin: 0px 8px 0px 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.css-3bhv7e {
    box-sizing: border-box;
    margin: 0px 0px 0px 8px;
    min-width: 0px;
    font-size: 16px;
    color: rgb(201, 148, 0);
    line-height: 24px;
    cursor: pointer;
}
.css-1mxpxp .bn-input-suffix {
    font-size: 14px;
    height: 100%;
    flex-shrink: 0;
    margin-left: 4px;
    margin-right: 8px;
}
.css-1mv284k {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 16px;
    fill: currentcolor;
    transform: rotate(180deg);
    color: rgb(112, 122, 138);
    width: 1em;
    height: 1em;
}
.css-fxluzf {
    box-sizing: border-box;
    margin: 0px;
    outline: none;
    height: auto;
    display: block;
    width: auto !important;
    min-width: 100% !important;
}
.css-1smvnh0 .bn-sdd-innerInputContainer {
    padding: 8px 12px;
    width: 100%;
}
.css-caza27 .bn-sdd-dropdown {
    position: absolute;
    z-index: 1100;
    transition: height 0.2s ease 0s;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(20, 21, 26, 0.08) 0px 3px 6px, rgba(71, 77, 87, 0.08) 0px 7px 14px, rgba(20, 21, 26, 0.1) 0px 0px 1px;
    border-radius: 4px;
}
.css-caza27 .bn-sdd-list {
    padding: 4px 0px;
    overflow-y: scroll;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.css-88fj32 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(201, 148, 0);
    opacity: 1;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1;
}
.css-caza27 li {
    opacity: 1;
}
.css-caza27 .bn-sdd-option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-align: center;
    align-items: center;
    max-height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 20px;
}
.css-hbiox4 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    opacity: 1;
    color: rgb(201, 148, 0);
}
.css-awgkdw {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(30, 35, 41);
    opacity: 0.4;
    cursor: default;
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1;
}
.css-1ufmo62 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    opacity: 0.4;
    color: rgb(30, 35, 41);
}
.css-1beohno {
    box-sizing: border-box;
    margin: 0px 0px 0px 8px;
    min-width: 0px;
    color: rgb(112, 122, 138);
}
.css-1yh4p8a {
    box-sizing: border-box;
    margin: 0px 0px 0px 16px;
    min-width: 0px;
    font-size: 12px;
    color: rgb(71, 77, 87);
}
.css-1yh4p8a::before {
    content: " ";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: rgb(246, 70, 93);
    opacity: 0.4;
    margin-right: 4px;
}
@media screen and (min-width: 767px) {
    .css-ybpi4s {
        padding: 24px;
    }
    .css-9s07cq {
        width: auto;
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
    .css-afpwnx {
        display: block;
    }
    .css-sv09bf {
        padding-left: 16px;
        padding-right: 16px;
    }
    .css-kfjwco {
        display: none;
    }
    .css-1k0kvxy {
        display: block;
    }
    .css-4gt1ux {
        display: flex;
        width: auto;
    }
    .css-fu21lm {
        flex: 1 1 auto;
    }
    .css-kdopbp {
        flex: 1 1 auto;
        margin-left: 16px;
        margin-right: 16px;
    }
    .css-1s8q8od {
        display: flex;
    }
    .css-1vum88z {
        box-shadow: none;
        height: 16px;
    }
    .css-g30x09 {
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 4px;
        padding: 16px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 16px;
    }
    .css-ky8ph6 {
        padding: 0px;
    }
    .css-n7uu3c {
        width: 50%;
    }
    .css-1nkpn6w {
        display: flex;
    }
    .css-vw4i2j {
        display: none;
    }
    .css-ko6w12 {
        font-size: 32px;
    }
    .css-ycf5jl {
        line-height: 42px;
    }
    .css-3gvpur {
        width: 100%;
    }
    .css-1352way {
        font-size: 14px;
    }
    .css-ygdrxr {
        margin-top: 4px;
    }
    .css-15tpicw {
        height: 42px;
    }
    .css-1x3gaai {
        line-height: 42px;
        font-size: 32px;
    }
    .css-w3u2ek {
        width: auto;
    }
    .css-o20ps3 {
        margin-top: 24px;
    }
    .css-1xbpfw1 {
        margin-top: 24px;
        width: 100%;
    }
    .css-1c4tfgk {
        width: 100%;
    }
    .css-9042o8 {
        font-size: 20px;
    }
    .css-mokwgd {
        display: none;
    }
    .css-13d7ivd {
        display: none;
        width: auto;
    }
    .css-13h0iyx {
        flex: 1 1 auto;
    }
    .css-et2m9r {
        flex: 1 1 auto;
        margin-left: 16px;
        margin-right: 16px;
    }
    .css-1r2n43v {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 24px;
    }
    .css-84uuw {
        margin-right: 24px;
    }
    .css-rcfhz3 {
        display: flex;
    }
    .css-s11e0b {
        width: 100%;
    }
    .css-pjb42v {
        display: none;
    }
    .css-1bgd29k {
        margin-top: 16px;
        -webkit-box-pack: end;
        justify-content: flex-end;
    }
    .css-1ggfjpy {
        display: block;
        margin: 16px;
    }
    .css-1op9n3d {
        border-radius: 6px;
        height: auto;
        width: 464px;
    }
    .css-18dsu47 {
        margin-bottom: 32px;
    }
    .css-18dsu47 {
        margin-bottom: 32px;
    }
    .css-179rhxu {
        position: static;
    }
    .css-siljvp {
        position: static;
        z-index: auto;
        left: unset;
        bottom: unset;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: unset;
        box-shadow: none;
    }
    .css-1fwh5ni {
        border-radius: 6px;
        width: 484px;
        height: auto;
    }
    .css-14wbsbi {
        font-size: 16px;
    }
    .css-1efkrz1 {
        flex: 1 1 0%;
        width: auto;
    }
    .css-siljvp {
        position: static;
        z-index: auto;
        left: unset;
        bottom: unset;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: unset;
        box-shadow: none;
    }
    .css-agsc13 {
        max-width: 180px;
    }
    .css-g4fmj2 {
        padding-bottom: 24px;
        overflow-y: visible;
    }
}
@media screen and (min-width: 1023px) {
    .css-1k0kvxy {
        display: none;
    }
    .css-1vum88z {
        height: 24px;
    }
    .css-g30x09 {
        padding: 24px;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 24px;
    }
    .css-ky8ph6 {
        padding: 0px;
    }
    .css-n7uu3c {
        width: 33.3333%;
    }
    .css-3gvpur {
        width: auto;
    }
    .css-1xbpfw1 {
        margin-top: 0px;
        width: 33.3333%;
    }
    .css-1c4tfgk {
        width: auto;
    }
    .css-84uuw {
        margin-right: 24px;
    }
    .css-s11e0b {
        width: auto;
    }
    .css-1bgd29k {
        margin-top: 24px;
    }
    .css-1ggfjpy {
        margin-bottom: 24px;
        margin-left: 24px;
        margin-right: 24px;
    }
    .css-1fwh5ni {
        border-radius: 6px;
        width: 484px;
        height: auto;
    }
    .css-g4fmj2 {
        overflow-y: visible;
    }
}
