<div class="css-4qtnb6">
    <div class="css-12gf6y1">
        <div class="css-32mznw">
            <div class="css-vym6x9">
                <div class="css-chjio1">
                    <div data-expand="false" class="css-3prz9j">
                        <div class="css-kbv4gt">
                            <div data-bn-type="text" class="css-mpghe">Về chúng tôi</div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" class="css-1l0obfq">
                                            <path d="M4 11h16v2H4v-2z" fill="currentColor"></path>
                                            <path d="M13 4v16h-2V4h2z" fill="currentColor"></path>
                                        </svg>
                        </div>
                        <div class="css-1yk9mh2"><a href="https://www.binance.com/vi/about" class="css-1lg668x">Thông
                                            tin
                                            thêm</a><a href="https://www.binance.com/vi/careers" class="css-1lg668x">Cơ hội nghề
                                            nghiệp</a><a href="https://www.binance.com/vi/about#email" class="css-1lg668x">Hợp tác
                                            kinh doanh</a><a href="https://www.binance.com/vi/community" class="css-1lg668x">Cộng
                                            đồng</a><a href="https://www.binance.com/vi/blog" class="css-1lg668x">Binance Blog</a><a href="https://www.binance.com/vi/terms" class="css-1lg668x">Điều khoản</a><a href="https://www.binance.com/vi/privacy"
                                class="css-1lg668x">Riêng tư</a><a href="https://www.binance.com/vi/support/announcement" class="css-1lg668x">Thông
                                            báo</a><a href="https://www.binance.com/vi/news" class="css-1lg668x">Tin tức</a><a href="https://www.binance.com/vi/support/list/notices" class="css-1lg668x">Notices</a>
                        </div>
                    </div>
                    <div data-expand="false" class="css-3prz9j">
                        <div class="css-kbv4gt">
                            <div data-bn-type="text" class="css-mpghe">Sản phẩm</div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" class="css-1l0obfq">
                <path d="M4 11h16v2H4v-2z" fill="currentColor"></path>
                <path d="M13 4v16h-2V4h2z" fill="currentColor"></path>
            </svg>
                        </div>
                        <div class="css-1yk9mh2"><a href="https://www.binance.com/vi" class="css-1lg668x">Exchange</a><a href="https://academy.binance.com/vi" class="css-1lg668x">Academy</a><a href="https://www.binance.charity" class="css-1lg668x">BCF</a><a href="https://card.binance.com/vi"
                                class="css-1lg668x">Card</a><a href="https://labs.binance.com/" class="css-1lg668x">Labs</a><a href="https://launchpad.binance.com/vi" class="css-1lg668x">Launchpad</a><a href="https://research.binance.com/" class="css-1lg668x">Nghiên cứu</a>
                            <a href="https://trustwallet.com" class="css-1lg668x">Ví Trust
                                            </a><a href="https://www.binance.com/vi/nft/home" class="css-1lg668x">NFT</a><a href="https://www.featured.market/" class="css-1lg668x">Featured.market</a><a href="https://pay.binance.com/vi"
                                class="css-1lg668x">Binance Pay</a></div>
                    </div>
                    <div data-expand="false" class="css-3prz9j">
                        <div class="css-kbv4gt">
                            <div data-bn-type="text" class="css-mpghe">Dịch vụ</div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" class="css-1l0obfq">
                <path d="M4 11h16v2H4v-2z" fill="currentColor"></path>
                <path d="M13 4v16h-2V4h2z" fill="currentColor"></path>
            </svg>
                        </div>
                        <div class="css-1yk9mh2"><a href="https://www.binance.com/vi/download" class="css-1lg668x">Tải
                xuống</a><a href="https://www.binance.com/vi/desktop-download" class="css-1lg668x">Desktop
                Application</a><a href="https://www.binance.com/vi/buy-sell-crypto" class="css-1lg668x">Mua tiền
                mã hóa</a><a href="https://www.binance.com/vi/fee/schedule" class="css-1lg668x">Phí giao
                dịch</a><a href="https://www.binance.com/vi/vip-institutional-services" class="css-1lg668x">Dịch
                vụ cho tổ chức</a><a href="https://www.binance.com/vi/activity/referral" class="css-1lg668x">Giới
                thiệu</a><a href="https://www.binance.com/en/activity/affiliate" class="css-1lg668x">Affiliate</a><a href="https://www.binance.com/vi/bnb" class="css-1lg668x">BNB</a><a href="https://www.binance.com/vi/OTC-Trading" class="css-1lg668x">Giao dịch OTC</a>
                            <a href="https://www.binance.com/vi/usercenter/coin-apply" class="css-1lg668x">Đăng ký niêm yết coin
                                            </a><a href="https://www.binance.com/vi/trade-rule" class="css-1lg668x">Quy tắc
                giao dịch</a><a href="https://c2c.binance.com/vi/merchantApplication" class="css-1lg668x">Ứng dụng Thương nhân
                P2P</a><a href="https://www.binance.com/vi/landing/data" class="css-1lg668x">Dữ liệu
                lịch sử thị
                trường</a></div>
                    </div>
                </div>
                <div class="css-1ymkc3o">
                    <div data-expand="false" class="css-3prz9j">
                        <div class="css-kbv4gt">
                            <div data-bn-type="text" class="css-mpghe">Hỗ trợ</div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" class="css-1l0obfq">
                <path d="M4 11h16v2H4v-2z" fill="currentColor"></path>
                <path d="M13 4v16h-2V4h2z" fill="currentColor"></path>
            </svg>
                        </div>
                        <div class="css-1yk9mh2"><a href="https://www.binance.com/vi/my/user-support/feedback/entry" class="css-1lg668x">Phản
                hồi</a><a href="https://www.binance.com/vi/support" class="css-1lg668x">Trung
                tâm trợ giúp</a><a href="https://www.binance.com/vi/chat" class="css-1lg668x">Gửi yêu
                cầu hỗ trợ</a><a href="https://www.binance.com/vi/official-verification" class="css-1lg668x">Xác minh
                Binance</a><a href="https://www.binance.com/vi/support/law-enforcement" class="css-1lg668x">Yêu cầu
                Thực thi
                Pháp luật</a></div>
                    </div>
                    <div data-expand="false" class="css-3prz9j">
                        <div class="css-kbv4gt">
                            <div data-bn-type="text" class="css-mpghe">Học hỏi</div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" class="css-1l0obfq">
                <path d="M4 11h16v2H4v-2z" fill="currentColor"></path>
                <path d="M13 4v16h-2V4h2z" fill="currentColor"></path>
            </svg>
                        </div>
                        <div class="css-1yk9mh2"><a href="https://www.binance.com/vi/buy-BNB" class="css-1lg668x">Mua
                BNB</a><a href="https://www.binance.com/vi/busd" class="css-1lg668x">Mua BUSD</a><a href="https://www.binance.com/vi/buy-Bitcoin" class="css-1lg668x">Mua Bitcoin</a><a href="https://www.binance.com/vi/buy-Ethereum" class="css-1lg668x">Mua Ethereum</a>
                            <a href="https://www.binance.com/vi/buy-Litecoin" class="css-1lg668x">Mua Litecoin</a><a href="https://www.binance.com/vi/buy-Ripple" class="css-1lg668x">Mua Ripple</a><a href="https://www.binance.com/vi/buy-Bitcoin-Cash" class="css-1lg668x">Mua Bitcoin
                Cash</a><a href="https://www.binance.com/vi/buy-Dogecoin-Doge" class="css-1lg668x">Mua
                Dogecoin</a><a href="https://www.binance.com/vi/buy-DeFi-tokens" class="css-1lg668x">Mua
                DeFi</a><a href="https://www.binance.com/vi/buy-Shiba-coin" class="css-1lg668x">Mua
                SHIB</a><a href="https://www.binance.com/vi/altcoins/tradable" class="css-1lg668x">Mua
                altcoin có thể giao
                dịch</a></div>
                    </div>
                </div>
            </div>
            <div class="css-lhwwn5">
                <div data-bn-type="text" class="css-1phk2w5">Community</div>
                <div class="css-vurnku"><a href="https://www.binance.com/vi/community" class="css-1icty3a"><svg
            xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="css-12s4vgv">
            <use xlink:href="#icon-h-telegram"></use>
        </svg></a><a href="https://www.facebook.com/binance" class="css-1icty3a"><svg
            xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="css-12s4vgv">
            <use xlink:href="#icon-h-facebook"></use>
        </svg></a><a href="https://twitter.com/binance" class="css-1icty3a"><svg xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" class="css-12s4vgv">
            <use xlink:href="#icon-h-twitter"></use>
        </svg></a><a href="https://www.reddit.com/r/binanceexchange" class="css-1icty3a"><svg
            xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="css-12s4vgv">
            <use xlink:href="#icon-h-reddit"></use>
        </svg></a><a href="https://www.instagram.com/Binance/" class="css-1icty3a"><svg
            xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="css-12s4vgv">
            <use xlink:href="#icon-h-instagram"></use>
        </svg></a><a href="https://coinmarketcap.com/exchanges/binance/" class="css-1icty3a"><svg
            xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="css-12s4vgv">
            <use xlink:href="#icon-h-coinmarketcap"></use>
        </svg></a><a href="https://vk.com/binance" class="css-1icty3a"><svg xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" class="css-12s4vgv">
            <use xlink:href="#icon-h-vk"></use>
        </svg></a><a href="https://www.youtube.com/binanceyoutube" class="css-1icty3a"><svg
            xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="css-12s4vgv">
            <use xlink:href="#icon-h-youtube"></use>
        </svg></a></div>
            </div>
        </div>
        <div class="css-gl2qiq">
            <div data-bn-type="text" class="css-vurnku">Binance © 2021</div>
        </div>
    </div>
</div>
